.loginPage
{
    background:url('Images/login-bg.jpg');
   
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 120%;
}
.loginForm {
    background: rgba(15, 4, 129, 0.806);
    color:rgb(234, 224, 224);
}