
  .pprofile-card {
    max-width: 300px;
    /* margin: auto; */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  }
  .iimg_div{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100px;
  }
  .pprofile-image {
    width: 100px; /* Adjust the width to your preference */
    height: 100px; /* Adjust the height to match the width */
    border-radius: 50%;
    border: 0px solid #fff; /* White border */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4); /* Shadow for a lifted effect */
    transition: border-color 0.3s ease-in-out, transform 0.3s ease-in-out;
  }
  
  .pprofile-image:hover {
    border: 5px solid;
    border-color: rgb(140, 140, 140); /* Change border color on hover */
    transform: scale(1.35); /* Slightly scale up on hover */
  }
  .pprofile-content {
    margin-top: 20px;
  }
  .pprofile-buttons {
    margin-top: 10px;
  }
